<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="component-image"
    />
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="component-image1"
    />
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="component-image2"
    />
  </div>
</div>
